<!--Смотрим на главной странице-->
@{
    Layout = null;
    Html.RenderPartial("Header");
}

<div id="templatemo_wrapper">

    <h2>Users :</h2>
    @try
    {
        foreach (var bag in ViewBag.users)
        {
            <hr>
            <p>ID: @bag.Id</p>
            <p>First Name: @bag.First_Name</p>
            <p>Second Name: @bag.Second_Name</p>
            <p>Patronymic: @bag.Patronymic</p>
            <p>Date of creation: @bag.DataCreat</p>
            <hr>
        }
    }
    catch
    {
        <p>No such a users</p>
    }
</div>